<div class="home">
    <div class="slogan">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur libero rerum tempora eveniet! 
    </div>

    <div class="compteur">
        <button><span class="material-icons add">add_circle</span></button>
        <input type="text" placeholder="0000">
        <span class="text">soutiennent l'idée</span>
    </div>

    <div class="questionnaire">
        <div class="questions">
            <div class="question1">
                <div class="question">
                    Lorem ipsum a votre avis ?
                </div>
                <div class="reponse">
                    <input type="checkbox"> <span>Oui</span>
                    <input type="checkbox"> <span>Non</span>
                </div>
                <div class="resultat">
                    <span>Résultat caché</span>
                </div>
            </div>
        </div>
    </div>

    <div class="description">
        <div class="description-succinte">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam unde delectus natus velit! Laborum praesentium sunt, aliquam expedita mollitia facilis sequi cupiditate dicta blanditiis aperiam earum eius, libero porro cum?
            Ad unde praesentium explicabo quod magni consequuntur vitae. Architecto dignissimos fugiat tempora deleniti rerum omnis maiores magni, praesentium perspiciatis ullam mollitia officia suscipit hic consequatur ipsum. Fugit perferendis aliquid quos.
        </div>
        <div class="formulaire-contact">
            <form>
                <span>Premier contact</span>
                <input type="text">
            </form>
        </div>
    </div>
</div>