
header {
    max-width: 100%;
    margin-bottom: 2rem;
    section {
        background: #141527;
        color : white;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;

        .titre-logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login button {
            margin: auto;
            padding: 10px;
            font-size: large;
            border: none;
            color: white;
            background: #141527;
            border: #2d2e40 1px solid;

        }
        .login button:hover {
            cursor: pointer;
            background-color: #2d2e40;
        }
    }
}

nav {
    ul {
        padding: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        
        li {
            text-align: center;
            list-style: none;
            
            a {
                text-decoration: none;
                color: #d8d8d8;
                background: #141527;
                //border: #2d2e40 1px solid;
                display: block;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            a:hover {
                border-bottom: #3f7ac8 1px solid;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            /* Applied when link is active */
            .active-link {
                border-bottom: #3f7ac8 1px solid;
            }
        }
        li:hover {
        }
        
    }
}

footer {
    margin-top: 2rem;
    bottom: 0;
    background-color: #141527;
    width: 100%;
    text-align: center;
    color: #d8d8d8;
    padding-top: 1rem;

    a {
        color: #d8d8d8;
        text-decoration: none;
    }
}


@media screen and (min-width:640px){

    header {
        section {
            .reseau {
                margin: auto;
            }
            .login {
                margin: auto;
            }
            .login button {
                margin: auto;
                padding: 1rem;
            }
        }
    }

    nav {
        ul {
            padding: 0;
            width: 50%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            margin: auto;
            justify-content: center;
            grid-column-gap: 0;
            
            li {
                text-align: center;
                list-style: none;
                background-color: #141527;
                
                a {
                    text-decoration: none;
                    color: white;
                    background: #141527;
                    border-radius: 5px;
                    //border: #2d2e40 1px solid;
                }
            }
        }
    }
    

}

