@import 'material-icons/iconfont/material-icons.css';


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(42,43,63);
    background: linear-gradient(90deg, rgba(42,43,63,1) 0%, rgba(67,30,77,1) 100%);
}